*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.accordion{
    width: 500px;
    padding: 50px 0px;
}

.accordion .item{
    background: #f0ebe1;
    margin-bottom: 5px;
    padding: 10px 20px;
}

.title{
    color: #85662b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.content{
    color: #8b7f75;
    padding: 15px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content.show{
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}